<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
        .choice{
            margin-top : 100px;
            text-align : center ;
        }
        .back {
            margin-right : 60px;
            font-size : 40px;
        }

    </style>
</head>
<body>


<div >
    <form method="POST">
        {% csrf_token %}
        <h1 style="text-align : center; margin-top : 200px " >Are you sure you want to delete this date?</h1>
        <div class="choice">
         <a href="{{request.META.HTTP_REFERER}}" class="back">Go Back</a>
        <input type="submit"  value='Confirm' style="font-size : 40px">
            </div>
    </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>