

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
{% load crispy_forms_tags %}
<body>
    <br>

    <br>
<div class ="container mt-3" style="width:95%; font-size: 25px">


    <form method="POST" class = "card p-3 mt-5" autocomplete="off">
        {% csrf_token %}

        <div class = "row">
            <div class ='col-6'>
                {{form.item | as_crispy_field}}
            </div>

            <div class ='col-6'>
                {{form.time | as_crispy_field}}
            </div>

        </div>

             {{form.carrier | as_crispy_field}}
             {{form.mph | as_crispy_field}}
             {{form.remarks | as_crispy_field}}
             {{form.bus | as_crispy_field}}
            {{form.route | as_crispy_field}}


        <button type="submit" ,value='submit' class="btn btn-primary" >Submit</button>

    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>